:root {
    --bg-color: #1f2335;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .pro-election .party-color {
    width: 32px;
    height: 24px;
} */

body {
    background-color: var(--bg-color);
    color: #ffffff;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1266px;
    margin-inline: auto;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.flex {
    display: flex;
}

.flex-1 {
    flex-grow: 1;
}

.home-logo {
    cursor: pointer;
}

.nav-list {
    margin-inline: 60px;
}

.nav-item {
    text-transform: uppercase;
    cursor: pointer;
}

.navbar_auth {
    display: flex;
    align-items: center;
}

.navbar_auth-signup {
    margin-inline-start: 38px;
    padding-inline: 32px;
    padding-block: 12px;
    background-color: #e5b805;
    border-radius: 4px;
    color: #000;
    font-weight: 600;
}

.home__select select {
    width: 260px;
    height: 45px;
    border-radius: 6px;
    border: 1px solid #252b46;
    background-color: #1c2031;
    color: #c6c7cb;
    padding-inline: 10px;
}

.home__select select:not(:last-child) {
    margin-right: 12px;
}
